<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row" id="top-row">
        <div class="col">
          <h1>REMLA - Group 5</h1>
        </div>
        {% if version %}
        <div class="col-3">
          <h5>version: {{ version }}</h5>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col" id="left-col">
              <h3>SMS Prediction</h3>
              <form method="POST">
                <input name="text" placeholder="Type here an sms...">
                <input type="submit" value="PREDICT" id="button">
              </form>
              {% if result %}
              <h3>Prediction Result</h3>
              <div class="row">
                <div class="col" id="results">
                  <p>RESULT: {{ result.result }}</p>
                  <p>CLASSIFIER: {{ result.classifier }}</p>
                  <p>SMS: {{ result.sms }}</p>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if metrics %}
        <div class="col">
          <h2>Metrics</h2>
          <div class="row">
            <div class="col" id="metrics">
              {{ metrics|safe }}
            </div>
          </div>
        </div>
        {% endif %}
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>