html {
    height: 100%;
}

body {
    background-color: lightyellow;
    height: 100%;
}

.container {
    padding: 20px;
    height: 100%;
}
.row {
    margin: 10px 0px;
}
.col {
    text-align: center;
}

h1, h2, h3, h5 {
    color: #888888;
}

input {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    border: 0px;
}

table {
    padding: 20px 10px;
    margin: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}

th, td {
    padding: 0px 10px;
}

#button {
    background-color: lightblue;
}
#button:hover {
    background-color: cornflowerblue;
}

#results {
    text-align: left;
    margin: 10px;
}

#metrics {
    text-align: left;
}

#top-row {
    border-bottom: 1px solid black;
}

#left-col {
    background-color: lightgoldenrodyellow;
    padding: 10px 0px;
    border-radius: 10px;
}

